{% extends 'base.html' %}
{% load product_tags %}
{% load humanize %}
{% load static %}
{% block content %}
<main class="rtl">
        <!-- page-banner-area-start -->
        <div class="page-banner-area page-banner-height" data-background="{% static 'images/banner/page-banner-3.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h4 class="breadcrumb-title">ارتباط با ما</h4>
                            <div class="breadcrumb-two">
                                <nav>
                                   <nav class="breadcrumb-trail breadcrumbs">
                                      <ul class="breadcrumb-menu">
                                         <li class="breadcrumb-trail">
                                            <a href="{% url 'home' %}"><span>خانه</span></a>
                                         </li>
                                         <li class="trail-item">
                                            <span>ارتباط با ما</span>
                                         </li>
                                      </ul>
                                   </nav>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-banner-area-end -->

        <!-- location-area-start -->
        <div class="location-area pt-70 pb-25">
            <div class="container">
                <div class="row mb-25">
                    <div class="col-xl-12">
                        <div class="abs-section-title text-center">
                            <span>با شما</span>
                            <h4> با ما در ارتباط باشید. 24/7</h4>
                            <p> فروشگاه نخلان برای مشتریان عزیزش موقعیتی را فراهم کرده در هر زمان و هر برنامه اجتماعی با آن ها همراه باشد <br> و واحد پشتیبانی پاسخگوی آماده پاسخگویی به سوالات مشتریان عزیز می باشد.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-7">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="{% static 'images/contact_us/support-icon.png' %}" alt="">
                            </div>
                            <h6> پشتیبان مشتریان فروشگاه- تماس</h6>

                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>تماس</span>
                                    <p><a href="tel:+8804568"> 4606 630 0991 (98+) </a></p>
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="sm-content">
                                    <span>ایمیل</span>
                                    <p><a href="mailto:nakhlan_shop@gmail.com">nakhlan_shop@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-7">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="{% static 'images/contact_us/insta-icon.png' %}" alt="">
                            </div>
                            <h6>صفحه اینستاگرام</h6>

                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>دایرکت</span>
                                    <p><a href="https://ig.me/m/nakhlan_">nakhlan_</a></p>
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="sm-content">
                                    <span>مشاهده محصولات</span>
                                    <p><a href="http://instagram.com/nakhlan_">nakhlan</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-7">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="{% static 'images/contact_us/whatsapp-icon.png' %}" alt="">
                            </div>
                            <h6>واتساپ فروشگاه جهت پشتیبانی</h6>

                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>شماره</span>
                                    <p><a href="https://wa.me/09916304606/?text=urlencodedtext">ارسال پیام</a></p>
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="sm-content">
                                    <span>Mail us</span>
                                    <p><a href="https://themepure.net/cdn-cgi/l/email-protection#285b5c475a4d684b474558494651064b4745"><span class="__cf_email__" data-cfemail="a7d4d3c8d5c2e7c4c8cad7c6c9de89c4c8ca">[email&#160;protected]</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- location-area-end -->

        <!-- cmamps-area-start -->
        <div class="cmamps-area">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=Tehran+Province,+Tehran,+District+12,+Panzdah-e-Khordad+Street,+Iran&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
        </div>
        <!-- cmamps-area-end -->
</main>
    {% endblock %}

{#<div style="overflow:hidden;resize:none;max-width:100%;width:1200px;height:500px;"><div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Tehran+Province,+Tehran,+District+12,+Panzdah-e-Khordad+Street,+Iran&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="googlecoder" href="https://www.bootstrapskins.com/themes" id="authmaps-data">premium bootstrap themes</a><style>#gmap-canvas img{max-height:none;max-width:none!important;background:none!important;}</style></div>#}